<!DOCTYPE html>
<!--
Copyright 2019 chamilad

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>
        Configurations for {{ .FileName }} File
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <!--<link rel="stylesheet" href="css/standard.css" crossorigin="anonymous">-->
    <!--<link rel="stylesheet" href="https://bootswatch.com/paper/bootstrap.min.css" crossorigin="anonymous">-->
</head>
<body class="fixed-nav">
<div class="container-fluid">
    <div class="row fixed-top">
        <div class="col bg-dark">
            <!--<h1> Configuration options for <small class="text-muted">{{ .FileName }}</small> </h1>-->
            <nav class="navbar navbar-dark">
                <!--Configurations for <small class="text-muted">{{ .FileName }}</small>-->
                <span class="navbar-brand mb-0">Configurations for <code>{{ .FileName }}</code> File</span>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col bg-dark">
        </div>
        <div class="col-10" style="padding-top: 80px;">
            {{ range .Elements }}
            <h2>
                <small class="text-muted">1.</small>
                <code id="91947779410">{{ .Name }}</code></h2>
            <div>
                descritpion
            </div>

            <p><strong>Configurations</strong></p>

            <table class="table-sm table-hover table-bordered">
                <thead class="thead-default">
                <tr>
                    <th align="center">Element</th>
                    <th>Description</th>
                </tr>
                </thead>

                <tbody>
                {{ range .ChildElements }}
                <tr>
                    <td align="center"><a href="#23082153551"><code>{{ .Name }}</code></a></td>
                    <!--<td>-</td>-->
                    <td>descrioti</td>
                    <!--<td>-</td>-->
                    <!--<td>-</td>-->
                </tr>
                {{ end }}

                </tbody>
            </table>
            <hr/>
            {{ end }}
        </div>
    </div>
</div>
</body>
</html>